<% var data = {
  title: "Скупка ЖК телевизоров в Волгограде",
  tel: "+7 999 999 999",
  description: "лписание первой старницы changed",
}; %>
<%= _.template(require('./../includes/header.html'))(data) %>

<div class="container-fluid">
  <div class="row mt-3">
    <div class="col-md-1 d-none d-lg-block"></div>
    <div class="col-md-6 col-lg-8">
      <div class="row justify-content-center">
        <div class="col-lg-4 d-none d-lg-block text-md-center"><img src="img/tv1.jpg" alt=""></div>
        <div class="col-md-12 col-lg-4 text-center"><img src="img/tv2.jpg" alt=""></div>
        <div class="col-lg-4 d-none d-lg-block text-md-center"><img src="img/tv3.jpg" alt=""></div>
        <div class="col-12 text-center">
          <h1 class="under_tv">Скупка разбитых, неисправных жидкокристаллических, LCD, LED и плазменных телевизоров</h1>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-2 mt-4 mt-md-0">
      <form class="text-center">
        <div class="form-group">
          <label for="exampleInputName">Заработай на своем сломанном телевизоре!</label>
          <input type="text" class="form-control" id="exampleInputName" aria-describedby="emailHelp"
            placeholder="Ваше имя">
          <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
        </div>
        <div class="form-group">
          <input type="tel" class="form-control" id="exampleInputTel" placeholder="Ваш номер телефона" name="tel"
            pattern="2[0-9]{3}-[0-9]{3}">
        </div>
        <button type="submit" class="btn btn-primary btn-lg w-100">ПРОДАТЬ ТВ</button>
      </form>
    </div>
    <div class="col-md-1 d-none d-lg-block"></div>
    <div class="col-12 text-center my-4">
      <h3 class="font-weight-bold"> 4 простых шага продать свой телевизор:</h3>
    </div>
    <div class="col-sm-12 col-md-3 text-center">
      <h4><span>1) Узнайте цену</span> <br> Оставьте заявку или позвоните</h4>
    </div>
    <div class="col-sm-12 col-md-3 text-center">
      <h4><span>2) Привозите к нам</span> <br>или вызывайте специалиста</h4>
    </div>
    <div class="col-sm-12 col-md-3 text-center">
      <h4><span>3) Подпишем договор</span><br>Возьмите с собой паспорт</h4>
    </div>
    <div class="col-sm-12 col-md-3 text-center">
      <h4><span>4) Получите деньги</span> <br>Сразу на руки всю сумму </h4>
    </div>
    <div class="col-1"></div>
    <main class="col-10">
      <h2>Вас интересует скупка телевизоров на запчасти?</h2>
      <p>
        Обратите внимание на предложение нашей фирмы. Мы купим вашу
        плазму по высокой стоимости.
      </p>
      <h2>
        Куда сдать разбитый телевизор в Волгограде?
      </h2>
      <p>
        Сегодня без телевизора невозможно представить себе обустройство квартиры, загородного дома, офиса,
        административного помещения и пр. <br><br> И все отлично, пока телевизор работает без сбоев и удовлетворяет
        качеством
        картинки своего владельца. <br><br> Но как только техника ломается или устаревает, владелец не знает, что дальше
        делать с
        ней. Именно для таких случаев действует скупка жк телевизоров.
        <br><br>
        Мы принимаем:
        <ul>
          <li>Технику в исправном состоянии.</li>
          <li>ТВ с небольшими поломками.</li>
          <li>Нам можете продать телевизор, который вообще не работает и восстановлению не подлежит.</li>
        </ul>
      </p>

      <p>
        Скупка телевизоров в Волжском распространяется на все марки данной техники: Samsung, LG, Philips, Panasonic,
        Sony,
        Toshiba и др. <br><br> К нам вы можете доставить ЖК телевизор почти любого размера, года выпуска и технического
        состояния.
        Мы работаем честно, поэтому можете быть уверены, что цена скупки будет объективной, и вы получите максимально
        выгодные условия. <br><br> <b>Сразу же после завершения процедуры скупки, деньги передаются продавцу на
          руки.</b> <br><br>
        Обратившись к
        нам за скупкой ТВ, вы получите отличный шанс приобрести новый более современный, стильный телевизор с массой
        полезных функциональных возможностей.
      </p>
      <h2>
        Преимущества обращения за скупкой к нам:
      </h2>
      <p>
        <ul>
          <li>
            Техника оценивается опытными специалистами. У нас исключены случаи занижения стоимости. В этом уже успели
            убедиться наши многочисленные клиенты, оставляющие о нас только положительные отзывы.
          </li>
          <li>
            Скупка телевизоров плазма осуществляется в соответствии с требованиями законодательства. В частности,
            покупка
            оформляется соответствующим договором.
          </li>
          <li>
            Своим клиентам обеспечиваем оперативное обслуживание: в течение получаса техника будет оценена и проведена
            процедура продажи, после чего обговоренная сумма будет выдана вам.
          </li>
        </ul>
      </p>
      <h2>
        Как продать неисправный жк телевизор?
      </h2>
      <p>
        <ul>
          <li>
            Вам нужно связаться с нами.
          </li>
          <li>
            На все интересующие вопросы вам ответят наши компетентные сотрудники. Также они
            рассчитают приблизительную стоимость скупки бу телевизора.
          </li>
          <li>
            После этого организуется оценка технического состояния техники, для которой вам нужно сообщить нашему
            сотруднику
            марку телевизора, год выпуска, характер поломки и др. На основе этих данных рассчитывается окончательная
            сумма,
            которую мы предоставим вам.
          </li>
          <li>
            Далее Вы доставляется прибор в наш офис или пользуйтесь услугами доставки.
          </li>
          <li>
            Затем проводится процедура скупки, которая занимает не более получаса.
          </li>
      </p>
      </ul>
    </main>
    <div class="col-1"></div>
  </div>

  <%= _.template(require('./../includes/footer.html'))(data) %>