<% var data = {
    title: "Скупка неисправных телевизоров в Волгограде",
    description: "Если у вас есть неисправный телевизор, то воспользуйтесь услугой скупки. Наша компания скупает ЖК телевизоры по выгодным ценам. Ищите пункты приема сломанных телевизоров? Обратите внимание на предложение нашей компании. Мы скупаем по высокой стоимости",
    tel: "+7(906)307-87-25",
  }; %>
<%= _.template(require('./../includes/header.html'))(data) %>

<div class="container-fluid">
  <div class="row mt-3">
    <%= _.template(require('./../includes/under_header.html'))(data) %>
    <main class="col-10">
      <h1>
        Покупаем неисправные телевизоры
      </h1>
      Задаетесь вопросом: куда сдать разбитый телевизор?
      Если у телевизора сломалась матрица, или поломалась материнская плата, то стоимость восстановления будет высокой.
      <br><br> Ведь такие детали стоят очень дорого. В такой ситуации лучше продать нерабочий телевизор. <br><br> Скупка
      неисправных телевизоров – одна из приоритетных услуг нашей компании. <br><br> Мы принимаем:
      <ul>
        <li>
          рабочую технику;
        </li>
        <li>
          аппарат с небольшими поломками, утерянными или поломанными деталями (ножками, пультами, креплениями);
        </li>
        <li>
          полностью неисправный прибор, восстановление которого обойдется дорого.
        </li>
      </ul>
      У нас скупка разбитых телевизоров осуществляется следующих производителей: Samsung, LG, Philips, Panasonic, Sony,
      Toshiba и пр. <br><br> Мы принимаем технику любого года выпуска и размеров. Прозрачность сделки и высокие цены
      гарантируются всем нашим клиентам. <br><br> Продав свою технику нам, вы сразу же получите обговоренную сумму и
      сможете
      отправиться за покупкой нового телевизора с более современными техническими характеристиками и расширенным
      функциональными возможностями. <br>
      Преимущества сотрудничества с нами:
      <ol>
        <li>Оценку нерабочих устройств осуществляем честно. Наш мастер оценивает состояние прибора, что необходимо для
          определения стоимости скупки.</li>
        <li>Скупка неисправных телевизоров осуществляется на основе подписания договора, в котором отражаются условия
          сотрудничества.</li>
        <li>Мы работаем быстро: в течение получаса техника будет оценена и проведена процедура его скупки, после чего
          обговоренная сумма будет передана вам на руки.</li>
      </ol>

      <h2>
        Как продать неисправный телевизор? 
      </h2>

      <ol>
        <li>Вам нужно просто позвонить нам. На вопросы скупки техники вас проконсультируют наши сотрудники. Также они
          назовут приблизительную стоимость покупки.</li>
        <li>Далее проводится оценка состояния устройства, для которой называется марка телевизора, гож выпуска, характер
          поломки и пр. На основе этих данных наш сотрудник рассчитывает сумму, которую мы готовы дать за телевизор.
        </li>
        <li>После этого вы можете сами привести аппарат к нам или же воспользоваться услугами доставки.</li>
        <li>Далее проводится процедура скупки на основе легального договора.</li>
      </ol>

    </main>
    <%= _.template(require('./../includes/content__zayavka.html'))(data) %>
    <div class="col-1"></div>
  </div>
</div>

<%= _.template(require('./../includes/footer.html'))(data) %>