<% var data = {
    title: "Скупка залитых телевизоров в Волгограде",
    description: "Ваш телевизор залило водой и он пришел в негодность? Ремонт слишком дорог? Выкупим Ваш телевизор по выгодной цене.",
    tel: "+7(906)307-87-25",
  }; %>
<%= _.template(require('./../includes/header.html'))(data) %>

<div class="container-fluid">
  <div class="row mt-3">
    <%= _.template(require('./../includes/under_header.html'))(data) %>
    <main class="col-10">
      <h1>Покупаем залитые ЖК телевизоры</h1>
      <p>
        Решили протереть свой ЖК телевизор, сильно намочили тряпку, протерли, или, пролили воду на экран телевизора? И
        он теперь не включается? <br>
        Значит влага попала на платы или контакты внутри телевизора. В таких случаях обнадёжить достаточно сложно, но
        варианты ремонта есть:

        <ul>
          <li>
            Замена LCD-панели (матрицы). Ремонт дорогостоящий, по стоимости соизмеримый с ценой нового телевизора.
          </li>

          <li>
            Восстановление панели. Такой ремонт не гарантирует успешный результат и зависит от степени повреждения
            компонентов панели (контактов, шлейфов и других составляющих элементов). <br> Следует учитывать, что ремонт
            матрицы (панели) практикуется далеко не во всех мастерских и сервисных центрах.
          </li>
        </ul>
        Очень часто такой ремонт телевизора может быть
        дорогостоящим, - дешевле продать телевизор на запчасти.
        Оставьте заявку и мы приедем и купим его по
        максимально высокой цене.

      </p>
    </main>
    <%= _.template(require('./../includes/content__zayavka.html'))(data) %>
  </div>
</div>

<%= _.template(require('./../includes/footer.html'))(data) %>